<nav class="site-nav">
  <ul class="u-list-reset, js-accordion">
    {% assign nav = collections.nav | sortByPageOrder %}
    {% for item in nav %}
    <li {% if page.url == item.url %} aria-current="page" {% endif %}>
      <a href="{{ item.url }}">
        {{ item.data.pageTitle }}
      </a>
      <div>
        {% assign smallnav = collections.smallnav | sortByPageOrder %}
        {% for item in smallnav %}
        <a href="{{ item.url }}">
          {{ item.data.pageTitle }}
        </a>
        {% endfor %}
      </div>
    </li>
    {% endfor %}
  </ul>
</nav>
