* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  background-color: $background;
}

section {
  display: flex;
  flex-wrap: wrap;

  h2 {
    margin: 0;
    text-align: center;
    width: 100%;
  }
}

.site-name {
  color: $light;
  text-decoration: none;
  margin: 40px auto 20px auto;
  font-size: 36px;
}

.top {
  font-weight: 900;
  font-size: 30px;
}

.bot {
  font-size: 20px;
  font-weight: 700;
}


button {
  background-color: transparent;
  border: 0;
  width: 100%;
  padding: 0;
  opacity: 1;

  a {
    display: block;
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    background-color: $button;
  }
}
