/* Error: expected "{".
 *    ,
 * 32 |         jus
 *    |            ^
 *    '
 *   src/sass/layout/_gallery.scss 32:12  @import
 *   src/sass/layout/_layout.scss 6:1     @import
 *   src/sass/styles.scss 4:1             root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a    \2577 \a 32 \2502          jus\a    \2502             ^\a    \2575 \a   src/sass/layout/_gallery.scss 32:12  @import\a   src/sass/layout/_layout.scss 6:1     @import\a   src/sass/styles.scss 4:1             root stylesheet';
}
