.gallery {
    ul {
        display: flex;
        justify-content: space-around;
    }

    li {
        width: 200px;
        height: 200px;
        text-align: center;

        a {
            color: $dark;
            text-decoration: none;
        }
    }
}
