.gallery {
    ul {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 40px;
    }

    li {
        display: block;
        position: relative;
        text-align: center;
        width: 800px;
        height: 500px;
        overflow: hidden;

        h2 {
            position: absolute;
            bottom: 0;
            background-color: $button;
            width: 100%;
            font-size: 24px;
            font-weight: 700;
            color: #fff;
            padding: 20px;
            border-radius: 0 0 10px 10px;
        }

        a {
            color: $dark;
            text-decoration: none;
        }



        img {
            position: absolute;
            display: block;

            border-radius: 0 0 10px 10px;
        }
    }
}
