.site-footer {
    background-color: $blue;
    color: $light;
    margin: 0;
    padding: 5% 5% 15% 5%;
    text-align: center;


    h4 {
        margin: 10px;
    }

    p {
        margin: 10px;
    }
}
