.site-header {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: $blue;

    h1 {
        color: $light;
    }

    ul {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    li {
        margin: 10px;
        align-self: center;
    }

    a {
        color: $light;
        text-decoration: none;
    }
}
