.site-warning {
    background-color: $dark;

    .site-warning {
        color: $light;
        margin: 0;
        padding: 15px;
        font-weight: 700;
        font-size: 20px;
        text-align: center;
    }
}
