.site-warning {
    background-color: $dark;

    h3 {
        color: $light;
        margin: 0;
        padding: 15px;
        font-weight: 900;
        font-size: 20px;
        text-align: center;
    }
}
