.site-nav {
    align-content: center;
    display: flex;
    justify-content: center;

    ul {
        align-items: center;
        display: flex;
        justify-content: center;

    }

    li {
        align-self: center;
        margin: 10px;
    }

    a {
        color: $light;
        text-decoration: none;
    }

    [aria-current] {
        text-decoration: underline;
    }
}
